{% extends 'base.html' %}
{% block content %}
    <div class="container mt-5">
        <h2 class="text-center fw-bold">Electronics</h2>
        <div class="row mt-4">
           {% for product in products %}
            <div class="col-md-4">
                <div class="card">
                    <img src="{{ product.image }}" class="card-img-top img-fluid" style="object-fit: contain;" alt="{{ product.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text text-muted">${{ product.price }}</p>
                        <a href="#" class="btn btn-success">Add to Cart</a>
                    </div>
                </div>
            </div>
            {% endfor %}


        </div>
    </div>

{% endblock %}
